.carddisplay{
    margin: 4px 0; 
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-position: center top 26%;
    min-height: 460px;
    background-image: url("https://images.pexels.com/photos/3653821/pexels-photo-3653821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}

