#dashboard {
    width: 115px;
    height: 40px;
    border-radius: 5 px;
}

.navbar {
    background:darkslategray;
    color: #fff
 }

#logout {
    width: 115px;
    height: 40px;
    border-radius: 5 px;
}

#signup {
    width: 115px;
    height: 40px;
    border-radius: 5 px;
}
#favorites {
    width: 115px;
    height: 40px;
    border-radius: 5 px;
    
}

.navbar {
    justify-content: space-between;
}
span {
    padding-right: 1rem;
}

button {
    margin-right:16px;
    height: 40px;
    width: 120px;
}
mat-form-field {
    margin-right:16px;
    height: 70px;
}

